<h1>Dashboard</h1>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>When</th>
      <th>KW</th>
      <th>Hours</th>
      <th>Total availible time</th>
    </tr>
  </thead>
  <tbody>
    <% total = 0.0
    @items.each do |item| %>
      <th<%= ' class="success"' if item.class == Milestone %>>
        <tr><%= item.class.model_name.human %></tr>
        <tr><%= item_name item %></tr>
        <tr><%= item.when %></tr>
        <tr><%= item_kw item %></tr>
        <tr><%= item_hours item %></tr>
        <tr><%= total += item_hours(item) %></tr>
      </th>
    <% end %>
  </tbody>
</table>
