<%= form_for @planned_time, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hours, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :when, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :when, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :user_id, User.all, :class => 'dropdown-menu' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, Project.all, :class => 'dropdown-menu' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                planned_times_path, :class => 'btn' %>
  </div>
<% end %>
